body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

.loading {
    background-color: grey!important;
    border: 1px solid #ccc;
}

#product-list li span {
    display: block;
}
#product-list img {
    max-width: 100px;
}
#product-list input, 
#product-list button {
    margin: 10px 0;
}
.error {
    color: red;
}
.disable-btn {
    pointer-events: none;
    cursor: disabled;
    background-color: grey;
    border: 1px solid #ccc;
}