body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

.loading {
    background-color: grey!important;
}

#product-list li span {
    display: block;
}
#product-list img {
    max-width: 100px;
}
#product-list input, 
#product-list button {
    margin: 10px 0;
}
#product-list input.selected {
    background-color: orange;
    border: 2px solid black;
}